@using ePizzaHub.UI.Models.ApiModel.Response;
@model IEnumerable<ItemResponseModel>

    <div style="background-color:skyblue">
        <div class="container">
            <div class="row pt-5">
                <div class="col-sm-8">
                    <h1>Wlcome the pizza hub application</h1>
                    <p class="pb-4">
                        Delicius Pizza Deliver
                    </p>
                    <p>
                        <a href="#heading" class="btn btn-success">ORDER ONLINE NOW</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
    <div class="container py-2">
        <div class="row">
        @foreach(var item in Model)
        {
            <div class="col-sm-4 mb-3">
                <div class="card">
                    <img src="@item.ImageUrl" class="card-img-top" />
                </div>
                <div class="card-body">
                    <h5>@item.Name
                      <span class="float-end">@item.UnitPrice</span>
                    </h5>
                    <p>@item.Description</p>
                </div>
            </div>
        }
        </div>

    </div>